.profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	width: 880px;
	margin: 0 0 50px;
}

@media screen and (max-width: 1023px) {
	.profile {
		max-width: 580px;
	}
}

@media screen and (max-width: 600px) {
	.profile {
		flex-direction: column;
		width: 282px;
		margin: 0 auto 36px;
	}
}