.profile__edit {
	margin: 0 0 0 18px;
	padding: 0;
	border: 0;
	transition: opacity ease 0.5s;
	background: 0;
	background-image: url(../../../images/profile__edit.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: flex;
}

.profile__edit:hover {
	cursor: pointer;
	opacity: 0.6;
}

@media screen and (max-width: 600px) {
	.profile__edit {
		margin: 0 0 0 10px;
		width: 18px;
		height: 18px;
	}
}